// -----------------------------------------------------------------------------//
// This file contains all styling for the about page             //
// -----------------------------------------------------------------------------//

.about-marquee {
    margin: 100px 0px 200px 0px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 50px 0px;
    max-width: 100% !important;
    width: 100% !important;
    color: transparentize($accent-colour, 0.6);
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: $accent-colour;

    .marquee__inner {
        animation: marquee 8s linear infinite !important;
    }
}

.about {
    @include margin-padding(all, auto 7%);

    @include media-quires('medium') {
        @include margin-padding(all, auto 10%, top, 50px);
    }

    @include media-quires('xtra-large') {
        max-width: 1900px;
        margin: 100px auto;
    }


    header {
        text-align: center;

        span {
            display: block;

            strong {
                text-transform: uppercase;
                color: $accent-colour;
                letter-spacing: 4px;
            }
        }
    }
}

.about-location {
    border-top: 2px solid black;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 200px repeat(4, 1fr) 100px;
    gap: 0px 0px;
    overflow: hidden;
    grid-template-areas:
        " . . . . . . "
        ". . . . london london "
        " . . croydon croydon london london "
        " holland holland croydon croydon . . "
        "holland holland . . . . "
        " . . . . . . ";

    img {
        width: 100%;
    }

    figure {
    

        &:nth-child(4) {
            grid-area: holland;
            margin-left: 50px;
        }

        &:nth-child(3) {
            grid-area: croydon;
            margin-top: -100px;
        }

        &:nth-child(2) {
            grid-area: london;
            margin-left: -50px;
        }

        figcaption {
            text-align: right;
        }
    }

    .divider {
        position: absolute;
        width: 2px;
        height: 800px;
        background-color: black;
        left: 50%;
        z-index: -1;
    }
}

.about-intro {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding-right: 100px;

}

// skills section
.about-h2 {
    text-transform: uppercase;
    margin-top: 100px;
}

.about-skills {
    position: sticky;
    top: 6rem;
    margin-top: 100px;
    padding-right: 100px;

    h2 {
        border-bottom: 2px solid black;
    }
}

.skills-flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 50%;
    margin-top: 100px;

    figure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100px;
        gap: 10px;
        margin-bottom: 50px;
    }

    .fa-brands {
        text-decoration: none;
        font-size: 5rem;
    }
}

.about-skills-list {
    display: flex;
    margin-left: auto;

    ul {
        li {

            border-bottom: 2px solid black;
        }
    }
}