// -----------------------------------------------------------------------------//
// This file contains all styling for the about page             //
// -----------------------------------------------------------------------------//

.about {
    @extend %main-wrapper;
    margin-bottom: 100px;
}

// intro text
.about-intro {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin-top: 2rem;

    p {
        margin-bottom: 5px;
        line-height: 1.25rem;

        @include media-quires(medium) {
            line-height: 1.4rem;
        }

        @include media-quires(large) {
            line-height: 2rem;
        }

        &:nth-child(1) {
            margin: 20px 0;
            font-weight: 600;
            font-size: 18px;
            letter-spacing: -.5px;
            line-height: 1.4rem;

            @include media-quires(medium) {
                line-height: 2.2rem;
            }

            @include media-quires(large) {
                font-size: 20px;
            }
        }
    }
}


// subheadings 
.about-title {
    padding-top: 80px;
    text-align: center;

    @include media-quires(medium) {
        padding-top: 80px;
        text-align: left;
    }

    @include media-quires(large) {
        text-align: left;
        border-bottom: none;
        padding-top: 100px;
        line-height: 4.2rem;
        padding-top: 0;
        font-size: 4.2rem;
        min-width: 20rem;
        flex: 1 1;
    }

    @include media-quires(xtra-large) {
        line-height: 7.2rem;
        font-size: 7.2rem;
        max-width: 30rem;
        margin-right: 3em;
    }
}



// lists
.list-title {
    font-weight: 600;
    font-size: 20px;
    padding-top: 20px;
}

// skills section
.about-skills {

    display: flex;
    flex-direction: column;

    @include media-quires(large) {
        flex-direction: row;
        margin-top: 12rem;
    }

    ul {
        margin-bottom: 30px;

        @include media-quires(large) {
            &:last-of-type {
                margin-left: 2vw;
            }
        }
    }


    li {
        font-size: 18px;
        padding: 2px 0;

        a {
            text-decoration: underline;
            text-decoration-color: lighten(black, 60);
            color: $accent-colour;

            &:hover {
                text-decoration-color: $accent-colour;
                color: $black;
                transition: ease-in-out 0.2s;
            }

        }

        @include media-quires(large) {
            margin-top: 2rem;

            &:first-of-type {
                margin-top: 1rem;
            }
        }

    }




    div {
        @include media-quires(large) {
            display: flex;
            flex-direction: row;
            flex-basis: 900px;
            justify-content: space-between;
        }
    }
}


// favorites section
.about-list {
    display: flex;
    flex-direction: column;

    @include media-quires(large) {
        flex-direction: row;
        margin: 12rem 0;
    }

    li {
        font-size: 18px;

        &::before {
            content: " ";
            height: 0.6rem;
            width: 0.6rem;
            border-radius: 50%;
            background-color: grey;
            margin: auto 0;
            margin-right: 20px;
        }

        a {
            text-decoration-color: lighten(black, 60);
            color: $black;
            text-decoration: underline;

            &:hover {
                text-decoration-color: $accent-colour;
                color: $accent-colour;
                transition: ease-in-out 0.2s;
            }
        }

        @include media-quires(large) {
            margin-top: 2rem;
        }
    }


    div {
        @include media-quires(large) {
            flex-basis: 900px;

            li {
                display: flex;
                padding-top: 10px;
            }

            .list-title {
                width: 300px;
                padding-top: 0px;
            }
        }
    }
}








// 3 button layout of links
.about-links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
    gap: 2em;
    padding: 5em 0;

    a{
        font-size: 18px;
    }

    article {
        border-radius: 18px;
        width: 90%;
        height: 400px;
        margin: auto;
        text-align: center;
        padding: 0 30px;
        @include flex-layout($direction:column, $just:center, $aItem:center);

        // colours of buttons
        &:first-child {
            background-color: lighten(complement($accent-colour), 25);
        }

        &:nth-child(2) {
            background-color: lighten($primary-colour, 80);
        }

        &:last-child {
            background-color: lighten($accent-colour, 20);
        }





        header {
            padding-bottom: 10px;
        }
        p{
            width: 80%;
        }

        footer {
            @include flex-layout {
                gap: 20px;
                padding: 1em 0;
            }
        }

    }



    @include media-quires(large) {
        padding-top: 10em;
    }
}