/*===============================================================================
    Table of contents

    1.page wrapper
    2.articles grid layout
    3.article styling
    4.icon
    
===============================================================================*/

//1.page wrapper
.main-blog {
    @include margin-padding(all, auto 7%, all, 50px 0px 100px 0px);
 

    @include media-quires('medium') {
        h3{
            padding-top: 50px;
        }
        @include margin-padding(all, auto 10%);
    }

    @include media-quires('xtra-large') {
        max-width: 1900px;
        margin: 50px auto;
    }
}


//2.articles grid layout
.blog {
    gap: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    margin-top: 5rem;
  
    @include media-quires('xtra-large') {
        grid-template-columns: repeat(4, minmax(20rem, 1fr));
    }
}


//3.article styling
[class^="grid"] {
    @include margin-padding($p-direction:all, $p-px:30px);
    @include flex-layout($direction:column, $just:space-around);
    border: 1px solid $black;
    border-radius: 18px;
    height: 400px;
    transition: ease-in-out 0.5s;
    &:hover {
        margin-top: -10px;
        transition: ease-in-out 0.5s;
    }

    h5{
        font-size: 18px;
    }

    h4{
        @include media-quires('medium') {
        font-size: 28px;
        }
    }

    footer {
        @include flex-layout($direction:row) {
            gap: 10px;
            @include margin-padding(top, 20px);
        }
    }


    // view more
    &:last-child{
        align-items: center;
        p{
            font-size: 30px;
        }
        
    }
}


//4.icon
.fa-solid {
    text-decoration: none;
    margin:auto 0;
    font-size: 18px;
}