// -----------------------------------------------------------------------------//
// This file contains all styling for the blog page             //
// -----------------------------------------------------------------------------//


.main-blog {
    @include margin-padding(all,auto 7%, all, 50px 0px 100px 0px);

    @include media-quires('medium') {
        @include margin-padding(all,auto 10%);
    }
    @include media-quires('xtra-large') {
        max-width: 1900px;
        margin: 50px auto;
    }
}

.blog {
    @include flex-layout($direction:row, $wrap:wrap);
    @include margin-padding($p-direction:all,$p-px:50px 0);
    gap: 20px;
    @include media-quires('medium') {
        display: grid;
        grid-template-columns: 1fr 1fr;
 }
 @include media-quires(large) {
     margin-top: 100px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}
}


[class^="grid"] {
    @include margin-padding($p-direction:all,$p-px:20px);
    @include flex-layout($direction:column, $just:space-around);
    border: 1px solid black;
    height: 400px;

    &:hover {
        border-radius: 16px;
        background-color: $accent-colour;
        transition: ease-in-out 0.5s;
    }

    footer {
        @include flex-layout($direction:row, $just:space-between){
            @include margin-padding(top,20px);
        }
    }

    img {
        @include size(300px);
    }
}


//icon
.fa-solid {
    text-decoration: none;
}