// -----------------------------------------------------------------------------------------------------------------------------------------//
// This file contains all styling for the cv . Design inspired by https://dribbble.com/shots/14121188/attachments/5744076?mode=media        //
// -----------------------------------------------------------------------------------------------------------------------------------------//


.contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    align-items: start;
    overflow: hidden;
    padding: 50px 0;

    section {
        &:last-child {
            align-self: flex-end;
        }
    }

    @include margin-padding(all, auto 7%);

    @include media-quires('medium') {
        @include margin-padding(all, auto 10%);
        gap: 100px;
        align-items: end;
    }
    @include media-quires('xtra-large') {
        max-width: 1800px;
        margin: 100px auto;
    }

    @media (min-width:1200px) and (min-height:1500px) {
        min-height: max-content;
    }
}

.subheading {
    font-size: clamp(1rem, 5vw, 3rem);
    font-weight: 500;
    min-width: 100px;
    max-width:550px;
    @include media-quires('large') {
        margin-top: 10%;
    }
}



// form
form {

    @include flex-layout($direction:column);

    label {
        @include margin-padding(all, 50px 0px 0px 0px);
        font-size: 20px;
    }

    input {
        @extend %form-styling;
    }

    textarea {
        @extend %form-styling;
    }
}


// contacts section
.contacts {
    display: grid;
    grid-template-columns: repeat(2, minmax(11rem, 1fr));
    padding-top: 7rem;


    h3 {
        font-weight: 400;
        text-decoration: underline;
    }

    li {
        font-size: 20px;
        line-height: 2.5rem;
    }

    @include media-quires(medium) {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}