// -----------------------------------------------------------------------------//
// This file contains all styling for the cv              //
// -----------------------------------------------------------------------------//


.contact{
    @include margin-padding(all, auto 7%, all, 50px 0);
    @include media-quires('medium') {
        @include margin-padding(all, auto 10%);
    }
    @include media-quires('xtra-large') {
        max-width: 1900px;
        margin: 100px auto;
    }
}

.subheading {
    margin-top: 40px;
    font-weight: 500;
}

// form
form {
    @include margin-padding(top,40px);
    @include flex-layout($direction:column);
    @include size(600px, $maxWidth:mx);
    label {
        @include margin-padding(all, 20px 0px 10px 0px);
        &:nth-child(n+2) {
            @include margin-padding(top, 30px);
        }
    }

    [type="submit"] {
        border: none;
        outline: none;
        background-color: white;
        @include margin-padding(top, 20px, all, 10px);
        @include size(200px, $maxWidth:mx);
        border: 2px solid black;
    }

    input {
        @extend %form-styling;
        height: 40px;
        @include media-quires(large){
            height: 80px;
        }
    }

    textarea {
        @extend %form-styling;
        height: 100px;
        @include media-quires(large){
            height: 200px;
        }
    }

    @include media-quires(medium){
        @include size(80%, $maxWidth:mx);
       
    }
    @include media-quires('xtra-large'){
        margin-top: 100px;
        @include size(70%, $maxWidth:mx);

    }
}


// social media banner
// .social__list {
//     @include flex-layout($direction:row, $wrap:wrap, $just:center);
//     @include margin-padding(all, 150px 0px,all, 25px 0px);
//     gap: 20px;
//     border-top: 2px solid black;
//     border-bottom: 2px solid black;

//     @include media-quires(small) {
//         justify-content: space-around;
//     }
// }