// -----------------------------------------------------------------------------------------------------------------------------------------//
// This file contains all styling for the cv . Design inspired by https://dribbble.com/shots/14121188/attachments/5744076?mode=media        //
// -----------------------------------------------------------------------------------------------------------------------------------------//


.contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    align-items: baseline;
    overflow: hidden;
    @include margin-padding(all, auto 7%, all, 50px 0);

    @include media-quires('medium') {
        @include margin-padding(all, auto 10%);
    }

    @include media-quires('xtra-large') {
        max-width: 1900px;
        margin: 100px auto;
    }
    @media (min-width:1200px) and (min-height:1500px){
      min-height:max-content;
    }
}

.subheading {
    font-size: clamp(1rem, 5vw, 3rem); 
    font-weight: 500;
    min-width: 100px;
    max-width: 80%;
}



// form
form {
    // @include margin-padding(top,40px);
    @include flex-layout($direction:column);
    max-width: 200px;

    label {
        @include margin-padding(all, 20px 0px 0px 0px);
    }

    input {
        @extend %form-styling;
    }

    textarea {
        @extend %form-styling;
    }

    [type="submit"] {
        background-color: rgb(0, 0, 0);
        color: $white;
        @include margin-padding(top, 20px, all, 10px);
        @include size(150px, $maxWidth:mx);
        border-radius: 13px;
    }
}

// contacts section
.contacts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    gap: 3rem;
    padding-top: 3rem;


    h3 {
        font-weight: 400;
        text-decoration: underline;
    }

    li {
        line-height: 2rem;
    }

    @include media-quires(medium) {
        gap: 0rem;
        padding-top: 10rem;
    }
}