%section-padding {
	padding-top: 20%;
	padding-bottom: 40%;
	@include media-quires('medium') {
		padding-bottom: 20em;
	}
	@include media-quires('large') {
		padding-top: 20em;
		padding-bottom: 40em;
	}
	@include media-quires('xtra-large') {
		padding-top: 20em;
		padding-bottom: 50em;
	}
}

%form-styling {
	padding: 10px;
	border: none;
	outline: none;
	border-bottom: 2px solid black;
	background-color: rgb(245, 245, 245);

	&:focus {
		background: lighten($accent-colour, 40);
		border-bottom: 3px solid $accent-colour;
		transition: 0.2s ease-out;
	}
}