// -----------------------------------------------------------------------------//
// This file contains all styling for the landing page            //
// -----------------------------------------------------------------------------//


#home {
    @extend %section-padding;
    @include margin-padding(all, auto 7%);

    @include media-quires('medium') {
        @include margin-padding(all, auto 10%);
    }

    @include media-quires('xtra-large') {
        @include margin-padding(all, auto 3%);
    }
}


.home {
  
    &-primary {
        // font-size: 1.875rem;
        font-family: $font-secondary;
        font-size: 2.1rem;
        line-height: 2.5rem;
        @include margin-padding(bottom, 40px);



        @include media-quires('large') {
            // min-width: 450px;
            max-width: 800px;
            // font-size: 50px;
            font-size: 2.4rem;

        }

    }


    &-secondary {

        font-size: $text-reg;
        // font-size: 1.875rem;
        border-bottom: 1px solid black;
        @include size(max-content);
        @include margin-padding($p-direction:bottom,$p-px:8px);

        span {
            z-index: -1;
            position: relative;
            animation: learn-more 0.98s ease infinite alternate;

            @include media-quires('medium') {
                animation: none;
            }

        }

        @include media-quires('small') {
            font-size: $text-md;
        }

        @include media-quires('large') {
            font-size: $text-lg;
        }

    }


}