#home {
    @extend %section-padding;
    margin: auto 7%;
    @include media-quires('medium') {
        margin: auto 10%;
 }
 @include media-quires('large') {
    margin: auto 30%;
}
}


.home {
  
    &-primary {
        // font-size: 1.875rem;
        font-family: $font-secondary;
        font-size: 2.2rem;
        line-height: 38px;
        margin-bottom: 40px;

       

        @include media-quires('large') {
            min-width: 450px;
            max-width: 800px;
            // font-size: 50px;
            font-size: 2.4rem;
      
        }

    }


    &-secondary {

        font-size: $text-reg;
        // font-size: 1.875rem;
        border-bottom: 1px solid black;
        width: max-content;
        padding-bottom: 8px;

        span {
            z-index: -1;
            position: relative;
            animation: learn-more 0.98s ease infinite alternate;
            @include media-quires('medium') {
                animation: none;
            }

        }

        @include media-quires('small') {
            font-size: $text-md;
        }
        @include media-quires('large') {
            font-size: $text-lg;
        }
     
    }


}