.portfolio {
    margin: auto;
    padding: 100px 10%;
    background-color: $grey;
}

.portfolio-content {
    border-top: 2px solid black;
    padding-top: 20px;
    padding-bottom: 30px;

    @include media-quires(large) {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}

.portfolio-nav {
    display: flex;
    flex-direction: column;


    ul {
        margin-top: 30px;
        display: flex;
        gap: 10px;
        padding: 10px 0;
        margin-bottom: 20px;
        @include media-quires(large) {
            gap: 30px;
        }

        li {
            border-bottom: 1px solid black;
        }

    }

    P{
        margin-top: 10px;
    }

    @include media-quires(medium) {

        p {
            margin-top: 50px;
            max-width: 300px;
        }
    }



    @include media-quires(medium) {
        p {
            margin-top: 50px;
            max-width: 300px;
        }
    }

    @include media-quires(large) {
        flex-direction: row-reverse;
        justify-content: space-between;
        margin: 40px 20px 0 20px;

        ul {
            align-items: flex-end;
        }

        p {
            margin-bottom: 30px;
        }
    }
}

.portfolio-content-index {
    div {
        display: flex;
        justify-content: space-between;

        @include media-quires(large) {
            padding-right: 20px;
        }
    }

    @include media-quires(large) {
        border-right: 2px black solid;
    }
}

.portfolio-index {
    display: flex;
    flex-direction: column;

    h3 {
        width: 100px;
        line-height: 1.1em;
        padding: 40px 0px 10px 0;
    }

    p {
        padding-bottom: 50px;
    }
}

.wrapper {
    position: relative;
    display: flex;
    overflow: auto;
    min-width: 100%;
    margin-right: -10%;
    padding-left: 5%;
    padding-bottom: 40px;


    li {
        padding-right: 3%;
    }

    >.book {
        padding: 20px;
        margin: 20px;
        width: stretch;
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: flex-start;

        // @include media-quires(large) {
        //     border: 1px solid lightgray;
        // }

      
    }

    @include media-quires(large) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-right: 0;
        padding-left: 0;
        justify-items: center;
    }
}

.book {

    // align-self: [start];
    img {
        max-width: 60vw;
        height: auto;
        padding-bottom: 10px;

        @include media-quires(small) {
            max-width: 46vw;
        }

        @include media-quires(medium) {
            max-width: 44vw;
        }

        @include media-quires(large) {
            max-width: 21vw;
        }
    }
}



// portfolio links (navigation)

.links {

    :nth-child(1) {
        margin-right: 30px;
    }
}