// -----------------------------------------------------------------------------//
// This file contains all styling for the portfolio              //
// -----------------------------------------------------------------------------//


.portfolio {
    @include margin-padding(all, auto, all, 100px 10%);
    background-color: $grey;

    .wrap {
        @include media-quires('large') {
            @include margin-padding(all, auto, all, 10px 40px);
            // top:0;
            @include size(2000px, $maxWidth:mx);
        }
    }
}

.portfolio-content {
    border-top: 2px solid black;
    @include margin-padding($p-direction:all, $p-px:20px 0px 30px 0px);

    @include media-quires(large) {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}

.portfolio-nav {
    @include flex-layout($direction:column);
    // display: flex;
    // flex-direction: column;


    ul {
        @include margin-padding(all, 30px 0px 20px 0px, all, 10px 0px);
        @include flex-layout;
        gap: 10px;

        @include media-quires(large) {
            gap: 30px;
            font-size: 1.1vmin;
        }

        li {
            border-bottom: 1px solid black;
        }

    }

    P {
        @include margin-padding(top, 10px);
        @include size(300px, $maxWidth:mx);
        @include media-quires(medium) {
            @include margin-padding(top, 50px);
        }

        @include media-quires(xtra-large) {
            @include size(500px, $maxWidth:mx);
        }
    }



    @include media-quires(large) {
        @include flex-layout($direction:row-reverse, $just:space-between);
        @include margin-padding(all, 40px 20px 0px 20px);


        ul {
            @include flex-layout($aItem:flex-end);

        }

        p {
            @include margin-padding(bottom, 30px);
        }
    }
}

.portfolio-content-index {
    div {
        @include flex-layout($just:space-between);

        @include media-quires(large) {
            @include margin-padding($p-direction:right, $p-px:20px);
        }
    }
    span{
        font-size: 16px;
    }

    @include media-quires(large) {
        border-right: 2px black solid;
    }
}

.portfolio-index {
    @include flex-layout($direction:column);

    h3 {
        @include size(100px);
        line-height: 1.1em;
        @include margin-padding($p-direction:all, $p-px:40px 0px 10px 10px);
    }

    p {
        @include margin-padding($p-direction:bottom, $p-px:50px);
    }
   
}

.wrapper {
    position: relative;
    @include flex-layout;
    @include margin-padding(right, -10%, all, 0px 0px 40px 5%);
    overflow: auto;
    min-width: 100%;



    li {
        @include margin-padding($p-direction:right, $p-px:3%);
    }

    >.book {

        @include margin-padding(all, 10px, all, 10px);
        @include size(stretch);
        @include flex-layout($direction:column, $aItem:flex-start);
        gap: 20px;

        @include media-quires(large) {
            padding: 0;

            &:nth-child(1n+3) {
                margin-top: 10%;
            }
        }

    }

    @include media-quires(large) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        overflow: hidden;
        gap: 0px;
        @include margin-padding(all, 5px, all, 5px);
        width: min-content;
    }
}

.book {
    img {
        @include margin-padding($p-direction:bottom, $p-px:10px);
        @include size(60vw, auto, mx);

        @include media-quires(small) {
            @include size(46vw, $maxWidth:mx);
        }

        @include media-quires(medium) {
            @include size(44vw, $maxWidth:mx);
        }

        @include media-quires(large) {
            @include size(21vw, $maxWidth:mx);
        }

        @include media-quires(xtra-large) {
            width: 21vw;
            max-width: 50em;
        }
    }
}



// portfolio links (navigation)

.links {

    :nth-child(1) {
        margin-right: 30px;
    }
}

.portfolio__index-hide {
    @include media-quires(large) {
        display: none;
    }
}