/*===============================================================================
    Table of contents

    1.Base layout
    2.Sections
    3.header backdrop

    design inspired by https://codepen.io/mavrK/pen/PzGvdJ

===============================================================================*/




// 1.base layout
.about-cv {
    @include flex-layout(column,center){
        gap: 20px;
    }    

    [class$="hide"] {
        display: none;
    }

    @include media-quires(large) {
        @include margin-padding(all, 80px auto 0px auto, all, 40px 30px 0px 40px);
        border: 1px solid $grey;
        display: grid;
        gap: 0px;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 200px 1fr 1fr 1fr;
        @include size(1000px, 1400px, mx, mx);
        box-shadow: 11px 11px 22px #e8e8e8,
            -11px -11px 22px #ffffff;

        header {
            z-index: 3;
            grid-column: 2/-1;
            grid-row: 1/2;
        }

        .about-hide {
            @include flex-layout($just:center,$aItem:flex-end){
                z-index: 3;
            }
        

            p {
                font-weight: 400;
                padding: 65px;
                border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
                background-color: $secondary-colour;

            }
        }
        .cv-hide{
            display: block;
        }
    }
}

//2.Sections
.about--section {
    border: 2px solid $black;
    border-radius: 5px;
    padding: 20px;

    details {
        @include margin-padding(bottom, 20px);

        @include media-quires(large) {
            ul {
                padding: revert;
                line-height: 28px;
            }
        }
    }

    summary {
        @include flex-layout($direction:column);

        @include media-quires(large) {
            @include flex-layout($direction:row, $just:space-between);

        }
    }

    h3{
        color: $secondary-colour;
    }


    @include media-quires(large) {
        border: none;
        border-radius:0;

        h2 {
            font-size: 1.5rem;
            line-height: initial;
            border-bottom: $black 2px solid;

        }

        &:nth-child(3) {
            p {
                color: $white;
                font-size: 3rem;
                letter-spacing: 2px;
                font-family: $font-secondary;
                font-weight: 600;
            }

        }

        // left column
        &:not(:nth-child(7)) {
            background-color: lighten($accent-colour,10);
            padding: 20px;

            h2 {
                margin: 10px auto;
                width: 50%;
                text-align: center;
            }
        }

        &:nth-child(7) {
            grid-column: 2/3;
            grid-row: 2/-1;
            @include margin-padding(left, 30px);
            font-size: 18px;

            h2 {
                margin: 10px 0;
                width: 80%;
            }
        }

        p {
            @include flex-layout($direction:column);
            @include margin-padding(bottom, 10px);
        }

    }
}







//3.header backdrop
.cv-background {
    display: none;

    @include media-quires(large) {
        display: block;
        position: absolute;
        background-color: rgba($secondary-colour,0.42);
        width: 80%;
        max-width: 998px;
        height: 200px;
        margin-top: -40px;
        margin-left: -40px;
    }
}