//===============================================================================
// This file contains all the placeholders used in this portfolio
//===============================================================================
%navbar {
    @include size(100vw,100vh);
    background-color: #ffffff;
    @include position(fixed,0,-100vw);
    display: grid;
    transition: right 0.8s cubic-bezier(0.1, 0, 0.1, 0.2);
    z-index: 2;

    @include media-quires('medium') {
        @include size(auto,auto);
        @include position(relative, $right:auto);
        transition: none;
    }
}

%navbar-item-list {
    @include flex-layout($direction:column, $just:center) {
        @include size(80%);
        @include margin-padding(all, 150px 5px auto 10%);
        border-top: 1px grey solid;
    }

    @include media-quires('medium') {
        @include flex-layout($direction:row,$just:center);
        @include size(auto);
        @include margin-padding(all, 0);
        border: 0;
    }
}

%nav-item-link {
    text-decoration: none;
    font-size: 4vw;
    color: rgb(0, 0, 0);
    letter-spacing: 5px;


    &:hover {
        color: $accent-colour;
       }
    
    @include media-quires('medium') {
        font-size: $text-s;
        margin-left: 1.05vw;
        text-decoration: none;
        color: rgb(0, 0, 0);
        letter-spacing: 2px;
    }

    @include media-quires('large') {
        font-size: $text-md;
    }

    @include media-quires('xtra-large') {
        font-size: $text-lg;
    }
}