//===============================================================================
// This file contains all the stylings for the footer used within the portfolio
//===============================================================================

footer {
    min-height: fit-content;
    background-color: $primary-colour;
    color: $white;
    display: flex;
    flex-direction: column;
    border-top:2px solid black;
    padding-top:30px;
    a {
        color: $white;
        line-height: 24px;
    }
    p {
        text-align: center;
        margin: auto;
        padding: 20px 30px 10px 30px;                 
    }
}

.footer-main {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 20px;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto 10%;
  
    div {
        margin-right: 40px;
        margin-top: 20px;

    
        h6 {
            color: peachpuff;
            font-weight: 600;
            line-height: 29px;
            font-size: 18px;
            letter-spacing: 1px;
        }
    }

    @include media-quires(medium) {
        padding: 0 40px 10px 40px;
        flex-direction: row;
    }
}