/*===============================================================================
    Table of contents

    1.base footer styling
    2.column styling
    3.contact page styling

===============================================================================*/

//1.base footer styling
.site-footer {
    @include size($h-specify:mn, $height:fit-content);
    background-color: $primary-colour;
    color: $white;
    border-top: 2px solid $black;
    @include margin-padding($p-direction:all, $p-px:30px);
    @include flex-layout($direction:column);

    a {
        color: $white;
        line-height: 24px;

        &:hover {
            color: $accent-colour;
        }
    }

    p {
        text-align: center;
        @include margin-padding(all, auto, all, 20px 30px 10px 30px);
    }



}

//2.column styling
.footer-main {
    @include flex-layout($just:space-between, $direction:column, $wrap:wrap);
    @include margin-padding(all, auto 10%, all, 10px 20px);
    gap: 10px;



    div {
        @include margin-padding(all, 20px 0px 0px 40px);

        @include media-quires(medium) {
            @include margin-padding(right, 0px);
        }

        h2 {
            color: $accent-colour;
            font-weight: 600;
            line-height: 29px;
            font-size: 18px;
            letter-spacing: 1px;
        }
    }

    @include media-quires(medium) {
        @include margin-padding($p-direction:all, $p-px: 0px 40px 10px 40px);
        flex-direction: row;
        font-size: $text-md;
    }

    @include media-quires('xtra-large') {
        max-width: 2000px;
        margin: auto;
        gap: 25rem;
    }
}



//3.contact page styling
.footer-contact {
    @media (min-width:1200px) and (min-height:1500px) {
        position: absolute;
        width: 100%;
        bottom: 0;
    }
}

