//===============================================================================
// This file contains all the stylings for the footer used within the portfolio
//===============================================================================

footer {
    min-height: 89px;
    background-color: $secondary-colour;
    color: $white;
}