 // logo
 .navbar__logo {
   font-size: $text-lg;
   z-index: 5;
   color: $black;
   margin-top: 5px;

   @include media-quires('medium') {
     font-weight: 500;
     letter-spacing: -0.03em;
   }

   @include media-quires('large') {
     font-size: $text-xl;
   }

   @include media-quires('xtra-large') {
     font-size: $text-xxl;
   }
 }




 // site navigation
 .header {
   @include flex-layout($just:space-between);

   @include sizing($pad:0.5rem 1.3rem) {
     border-bottom: 1px solid $grey;
     position: sticky;
     top: 0;
     background-color: transparentize($white, 0.05);
     z-index: 9;
   }




   @include media-quires('large') {
     @include sizing($top:0, $pad:10px 40px 10px 40px, $mrg:auto);
     max-width: 2000px;
   }


  
  
 }


 .navbar {

   @extend %navbar;

   @include element(list) {
     @extend %navbar-item-list;


     @include element(item) {
       @include sizing($pad:20px, $brd:1px grey solid);

       @include media-quires('medium') {
         @include sizing($pad:10px, $brd:0, $mrg:auto);
       }


     }

     a {
       @extend %nav-item-link
     }
   }

   .hamburger-menu {
     @include flex-layout($direction:column, $just:space-around);
     @include sizing(1.6rem, 1.6rem, 15px, 30px);
     position: fixed;
     z-index: 2;


     @include media-quires('medium') {
       display: none;
     }

     [class^="line"] {
       height: 3px;
       background-color: rgb(0, 0, 0);
       transition: all 0.9s;
     }
   }
 }

 .change {
   right: 0;
   display: grid;

   .line {
     &-1 {
       transform: rotateZ(-405deg) translate(-6px, 6px);
     }

     &-2 {
       opacity: 0;
     }

     &-3 {
       transform: rotateZ(405deg) translate(-6px, -6px);
     }
   }
 }




 .navbar_copyright {
   @include flex-layout($direction:row, $just:space-between);
   @include sizing($mrg:0px 0px 90px 10%, $width:80%);
   color: grey;

   @include media-quires('small') {
     display: none;
   }
 }