 // logo
 .navbar__logo {
   font-size: $text-lg;
   z-index: 5;
   color: $black;
   margin-top: 5px;
   @include media-quires('medium') {
     color: black;
     font-size: 43px;
     font-weight: 500;
     letter-spacing: -0.03em;
   }
 }




 // site navigation
 header {
   @include flex-layout($just:space-between);

   @include sizing($pad:0.5rem 1.3rem) {
     border-bottom: 1px solid $grey;
   }

   @include media-quires('medium') {
     @include sizing($top:0, $pad:20px 40px 40px 40px, $mrg:0);
     background-color: rgb(0, 157, 157);
   }
 }


 .navbar {
   @extend %navbar;

   @include element(list) {
     @extend %navbar-item-list;


     @include element(item) {
       @include sizing($pad:20px, $brd:1px grey solid);

       @include media-quires('medium') {
         @include sizing($pad:10px, $brd:0, $mrg:auto);
       }

       &:hover {
         border-bottom: 5px rgb(213, 20, 20) solid;
         transition: ease-in-out 0.5s;
       }
     }

     a {
       @extend %nav-item-link
     }
   }

   .hamburger-menu {
     @include flex-layout($direction:column, $just:space-around);
     @include sizing(1.6rem, 1.6rem, 15px,30px);
     position: fixed;
     z-index: 2;


     @include media-quires('medium') {
       display: none;
     }

     [class^="line"] {
       height: 3px;
       background-color: rgb(0, 0, 0);
       transition: all 0.9s;
     }
   }
 }

 .change {
   right: 0;
   display: grid;

   .line {
     &-1 {
       transform: rotateZ(-405deg) translate(-6px, 6px);
     }

     &-2 {
       opacity: 0;
     }

     &-3 {
       transform: rotateZ(405deg) translate(-6px, -6px);
     }
   }
 }




 .navbar_copyright {
   @include flex-layout($direction:row, $just:space-between);
   @include sizing($mrg:auto 0px auto 10%, $width:80%);
   font-size: 3.2vw;
   color: grey;

   @include media-quires('medium') {
     display: none;
   }
 }