//===============================================================================
// This file contains button styling in this portfolio
//===============================================================================

.btn {
    @include social-media($socials);
}

[class^="btn--"] {
    padding: 10px;
    border: 2px black solid;
    border-radius: 10px;
}


// About Icons
.about-icon {
   
    @include flex-layout($direction:column,$just:center,$aItem:center){
        font-size: 2rem;
        padding-bottom: 20px;
    }
}