//===============================================================================
// This file contains button styling in this portfolio
//===============================================================================


 

button {
    @extend %btn;
    @include media-quires(medium) {
      width: 100%;
    }
    @include media-quires(medium) {
      width: auto;
      display: inline-block;
    }
  }
  
  