/*===============================================================================
    Table of contents

    1.Contact page
    2.project image1

===============================================================================*/


// 1.Contact page
.contact-lightbulb{
    width: 50vw;
    max-width: 500px;
    margin: 40px 0;
    align-self: flex-end;
    @include media-quires(medium){
        align-self: flex-start;
    }
}



//2.project image
.project {
    img {
        @include margin-padding($p-direction:bottom, $p-px:10px);
        @include size(60vw, auto, mx);

        @include media-quires(small) {
            @include size(46vw, $maxWidth:mx);
        }

        @include media-quires(medium) {
            @include size(44vw, $maxWidth:mx);
        }

        @include media-quires(large) {
            @include size(21vw, $maxWidth:mx);
        }

        @include media-quires(xtra-large) {
            width: 21vw;
            max-width: 50em;
        }
    }
    p{
        width: 80%;
    }
}