.marquee {
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    display: inline-flex;    
}

.marquee span {
    margin-right: 20%;
    padding: 20px;
    animation: marquee 20s linear infinite;
    animation-play-state: running;    
    transform: translate3d(0.5, 0, 0);          
}

.marquee:hover> span {
    display: flex;        
    flex-basis: 100%;
    animation-play-state: paused;  
}


.home-m-width{
    max-width: 450px;
}

.about-m-width{
    max-width: 500px;
}

.blog-m-width{
    max-width: 300px;
}

//accessability 
@media (prefers-reduced-motion) {
    .marquee span {
      animation-iteration-count: 1;
      animation-duration: 0.01; 
      width: auto;
      padding-left: 0;
    }
  }
