/*===============================================================================
    Table of contents

    1.Font stack
    2.Text base values
    2.1.Text values
    3.Line height
    4.Base colours
    5.Colour scheme
===============================================================================*/
/* 1.Font stack */
/* Text used this as reference - https://medium.com/codyhouse/create-your-design-system-part-1-typography-7c630d9092bd */
/*===============================================================================
    Table of contents

    1.Media quires
    2.Social media background for floating icons on landing page

===============================================================================*/
/*===============================================================================
    Table of contents

    1.BEM selectors
    2.social media color selector
    3.hero icons
    4.flex-layout
    5.media quires 
    6.hero outer sections
===============================================================================*/
/*===============================================================================
    Table of contents

    1.Universal styling
    2.HTML styling
    3.Main styling
    4.A/link styling

===============================================================================*/
* {
  list-style-type: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

main {
  min-height: calc(100vh - 89px);
}

a i {
  text-decoration: none;
}

/*===============================================================================
    Table of contents

    1.Landing page button
    2.Landing page icons
    3.Hamburger menu
    
===============================================================================*/
@-webkit-keyframes learn-more {
  0% {
    top: 0px;
  }
  0% {
    top: -5px;
  }
  100% {
    top: 2px;
  }
}
@keyframes learn-more {
  0% {
    top: 0px;
  }
  0% {
    top: -5px;
  }
  100% {
    top: 2px;
  }
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes floating {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

.change {
  position: grid;
  right: 0;
}

.change .line-1 {
  -webkit-transform: rotateZ(-405deg) translate(-6px, 6px);
          transform: rotateZ(-405deg) translate(-6px, 6px);
}

.change .line-2 {
  opacity: 0;
}

.change .line-3 {
  -webkit-transform: rotateZ(405deg) translate(-6px, -6px);
          transform: rotateZ(405deg) translate(-6px, -6px);
}

/*===============================================================================
    Table of contents

    1.Body
    2.H1
    3.H2
    4.H3
    5.H4
    6.Icons
    7.Paragraph
    8.a links
   
    CV Typography
    9.Cv h1
    10.Cv h3
    11.Cv p
    12.Cv details
    12.Cv ul
    
===============================================================================*/
body {
  font-size: calc(1em / 1.2);
  font-family: "Open Sans", sans-serif;
  color: #0a0d14;
  line-height: 1.4;
}

h1 {
  font-size: 12vw;
  line-height: 1.7em;
  font-family: "Bitter", serif;
}

@media (min-width: 600px) {
  h1 {
    font-size: 5.2rem;
    line-height: 1.2;
  }
}

@media screen and (min-width: 980px) {
  h1 {
    font-size: 7rem;
  }
}

h2 {
  font-weight: 400;
  padding: 5px 0;
  font-size: 2.2rem;
  line-height: 5rem;
}

@media (min-width: 600px) {
  h2 {
    font-size: 3.2rem;
  }
}

@media screen and (min-width: 980px) {
  h2 {
    font-size: 6.4rem;
  }
}

h3,
form legend {
  font-size: calc(1em * 1.2 * 1.2);
  color: #0a0d14;
  line-height: 1.4;
  letter-spacing: 1px;
  font-size: calc(1em * 1.2 * 1.2 * 1.2 * 1.2);
}

h4 {
  font-size: calc(1em * 1.2 * 1.2);
  font-weight: 600;
  letter-spacing: 0.6px;
}

i {
  text-decoration: underline;
}

p {
  line-height: 1.6rem;
  font-size: 14px;
}

@media (min-width: 600px) {
  p {
    font-size: 16px;
  }
}

@media screen and (min-width: 980px) {
  p {
    font-size: 18px;
  }
}

a {
  color: #0a0d14;
}

a:hover {
  color: #008080;
}

.about-cv h1 {
  font-size: 4rem;
  margin-top: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
}

.about-cv h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

.about-cv p {
  line-height: 1.3rem;
}

.about-cv details {
  line-height: 1.2rem;
}

.about-cv ul {
  padding-top: 5px;
  margin-left: 10px;
}

/*===============================================================================
    Table of contents

    1.About icons
    2.View more portfolio
    3.Submit button
    4.Floating icons of landing page 

===============================================================================*/
.about-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  padding-bottom: 20px;
}

.view-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 20px;
  width: 300px;
  margin: auto 90px;
  height: 100%;
}

.view-more i {
  font-size: 50px;
  margin-bottom: 20px;
}

.view-more:hover {
  color: #008080;
}

@media (min-width: 600px) {
  .view-more {
    margin: auto 0px;
  }
}

[type="submit"] {
  margin-top: 30px;
  padding: 15px;
  max-width: 150px;
  border-radius: 12px;
  border: none;
  background-color: #FFA351;
  font-weight: 600;
  -webkit-transition: ease-in-out .7s;
  transition: ease-in-out .7s;
}

[type="submit"]:hover {
  background-color: #5d49ab;
  -webkit-transition: ease-in-out .7s;
  transition: ease-in-out .7s;
}

[class^="img--"] {
  display: none;
}

@media screen and (min-width: 980px) {
  [class^="img--"] {
    position: absolute;
    padding: 20px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-animation-name: floating;
            animation-name: floating;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  [class^="img--"]:nth-of-type(1) {
    left: 55%;
    top: 15%;
    -webkit-animation-delay: -1333ms;
            animation-delay: -1333ms;
  }
  [class^="img--"]:nth-of-type(1)::after {
    position: absolute;
    content: " ";
    width: 50rem;
    height: 50rem;
    border-radius: 50%;
    border: 1px solid rgba(225, 225, 225, 0.762);
  }
  [class^="img--"]:nth-of-type(2) {
    left: 80%;
    top: 50%;
  }
  [class^="img--"]:nth-of-type(2)::after {
    position: absolute;
    content: " ";
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
    border: 1px solid rgba(225, 225, 225, 0.762);
    overflow: hidden;
  }
  [class^="img--"]:nth-of-type(3) {
    left: 5%;
    top: 60%;
    -webkit-animation-delay: -2000ms;
            animation-delay: -2000ms;
  }
  [class^="img--"]:nth-of-type(3)::after {
    position: absolute;
    content: " ";
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border: 1px solid rgba(225, 225, 225, 0.762);
  }
  [class^="img--"]:hover {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    padding: 40px;
  }
  .img--linkedin {
    background-color: #d7efff;
  }
  .img--linkedin:hover {
    background-color: #bee5ff;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
  .img--github {
    background-color: #dcf8dc;
  }
  .img--github:hover {
    background-color: #c7f3c7;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
  .img--email {
    background-color: #ffedcc;
  }
  .img--email:hover {
    background-color: #ffe4b3;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
}

.btn-toggle {
  margin-top: 10px;
  padding: 8px;
}

/*===============================================================================
    Table of contents

    1.Contact page
    2.project image1

===============================================================================*/
.contact-lightbulb {
  width: 50vw;
  max-width: 500px;
  margin: 40px 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (min-width: 600px) {
  .contact-lightbulb {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.project img {
  padding-bottom: 10px;
  max-width: 60vw;
  height: auto;
}

@media (min-width: 528px) {
  .project img {
    max-width: 46vw;
  }
}

@media (min-width: 600px) {
  .project img {
    max-width: 44vw;
  }
}

@media screen and (min-width: 980px) {
  .project img {
    max-width: 21vw;
  }
}

@media screen and (min-width: 2000px) {
  .project img {
    width: 21vw;
    max-width: 50em;
  }
}

.project p {
  width: 80%;
}

/*===============================================================================
    Table of contents

    1.body
    2.main nav
    3.typography
    4.links
    5.home page
    6.portfolio section
    
===============================================================================*/
body.dark-theme {
  color: #fcfcfc;
  background: #0a0d14;
}

body.dark-theme .header,
body.dark-theme .navbar {
  background-color: #0a0d14;
}

body.dark-theme [class^="line"] {
  background-color: #fcfcfc !important;
}

body.dark-theme h1,
body.dark-theme h2,
body.dark-theme h3,
body.dark-theme h4,
body.dark-theme h5,
body.dark-theme p,
body.dark-theme a {
  color: #fcfcfc;
}

body.dark-theme a:hover {
  color: #FFA351;
}

body.dark-theme .section-home a {
  color: #FFA351;
}

body.dark-theme .section-home .home-secondary {
  border-color: #fcfcfc;
}

body.dark-theme .portfolio {
  background-color: #131825;
}

body.dark-theme .portfolio-content,
body.dark-theme .portfolio-content-index,
body.dark-theme a,
body.dark-theme .home-secondary {
  border-color: #fcfcfc;
}

/*===============================================================================
    Table of contents

    1.Header navigation bar
    2.Header navigation list
    3.Header navigation links

===============================================================================*/
.navbar {
  width: 100vw;
  height: 100vh;
  background-color: #fcfcfc;
  position: fixed;
  top: 0;
  right: -100vw;
  display: -ms-grid;
  display: grid;
  -webkit-transition: right 0.8s cubic-bezier(0.1, 0, 0.1, 0.2);
  transition: right 0.8s cubic-bezier(0.1, 0, 0.1, 0.2);
  z-index: 2;
}

@media (min-width: 600px) {
  .navbar {
    width: auto;
    height: auto;
    position: relative;
    right: auto;
    -webkit-transition: none;
    transition: none;
  }
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: 150px 5px auto 10%;
}

@media (min-width: 600px) {
  .navbar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: auto;
    margin: 0;
    border: 0;
  }
}

.navbar__list a {
  text-decoration: none;
  font-size: 6vw;
  color: #0a0d14;
  letter-spacing: 2px;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.navbar__list a:hover {
  color: #008080;
  margin-left: 10px;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

@media (min-width: 600px) {
  .navbar__list a:hover {
    margin-left: 25px;
    margin-right: 5px;
  }
}

@media (min-width: 600px) {
  .navbar__list a {
    font-size: calc(1em / 1.2);
    margin-left: 1.05vw;
    text-decoration: none;
    color: #0a0d14;
    letter-spacing: 2px;
  }
}

@media screen and (min-width: 980px) {
  .navbar__list a {
    font-size: calc(1em * 1.2 * 1.2);
  }
}

@media screen and (min-width: 2000px) {
  .navbar__list a {
    font-size: calc(1em * 1.2 * 1.2 * 1.2);
  }
}

/*===============================================================================
    Table of contents

    1.Base layout
    2.Sections
    3.header backdrop

    design inspired by https://codepen.io/mavrK/pen/PzGvdJ

===============================================================================*/
.about-cv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.about-cv [class$="hide"] {
  display: none;
}

@media screen and (min-width: 980px) {
  .about-cv {
    margin: 80px auto 0px auto;
    padding: 40px 30px 0px 40px;
    border: 1px solid #F7F8FB;
    display: -ms-grid;
    display: grid;
    gap: 0px;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    -ms-grid-rows: 200px 1fr 1fr 1fr;
        grid-template-rows: 200px 1fr 1fr 1fr;
    max-width: 1000px;
    max-height: 1400px;
    -webkit-box-shadow: 11px 11px 22px #e8e8e8, -11px -11px 22px #ffffff;
            box-shadow: 11px 11px 22px #e8e8e8, -11px -11px 22px #ffffff;
  }
  .about-cv header {
    z-index: 3;
    grid-column: 2/-1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .about-cv .about-hide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    z-index: 3;
  }
  .about-cv .about-hide p {
    font-weight: 400;
    padding: 65px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    background-color: #008080;
  }
  .about-cv .cv-hide {
    display: block;
  }
}

.about--section {
  border: 2px solid #0a0d14;
  border-radius: 5px;
  padding: 20px;
}

.about--section details {
  margin-bottom: 20px;
}

@media screen and (min-width: 980px) {
  .about--section details ul {
    padding: revert;
    line-height: 28px;
  }
}

.about--section summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 980px) {
  .about--section summary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.about--section h3 {
  color: #008080;
}

@media screen and (min-width: 980px) {
  .about--section {
    border: none;
    border-radius: 0;
  }
  .about--section h2 {
    font-size: 1.5rem;
    line-height: initial;
    border-bottom: #0a0d14 2px solid;
  }
  .about--section:nth-child(3) p {
    color: #fcfcfc;
    font-size: 3rem;
    letter-spacing: 2px;
    font-family: "Bitter", serif;
    font-weight: 600;
  }
  .about--section:not(:nth-child(7)) {
    background-color: #ffbe84;
    padding: 20px;
  }
  .about--section:not(:nth-child(7)) h2 {
    margin: 10px auto;
    width: 50%;
    text-align: center;
  }
  .about--section:nth-child(7) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    grid-row: 2/-1;
    margin-left: 30px;
    font-size: 18px;
  }
  .about--section:nth-child(7) h2 {
    margin: 10px 0;
    width: 80%;
  }
  .about--section p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px;
  }
}

.cv-background {
  display: none;
}

@media screen and (min-width: 980px) {
  .cv-background {
    display: block;
    position: absolute;
    background-color: rgba(0, 128, 128, 0.42);
    width: 80%;
    max-width: 998px;
    height: 200px;
    margin-top: -40px;
    margin-left: -40px;
  }
}

/*===============================================================================
    Table of contents

    1.logo
    2.site header
    3.site navigation
    3.1 hamburger menu

===============================================================================*/
.navbar__logo {
  font-size: calc(1em * 1.2 * 1.2 * 1.2);
  z-index: 5;
  color: #0a0d14;
  margin-top: 5px;
}

@media (min-width: 600px) {
  .navbar__logo {
    font-weight: 500;
    letter-spacing: -0.03em;
  }
}

@media screen and (min-width: 980px) {
  .navbar__logo {
    font-size: calc(1em * 1.2 * 1.2 * 1.2 * 1.2);
  }
}

@media screen and (min-width: 2000px) {
  .navbar__logo {
    font-size: calc(1em * 1.2 * 1.2 * 1.2 * 1.2 * 1.2);
  }
}

.header {
  background-color: #fcfcfc;
  z-index: 9;
  border-bottom: 1px solid #F7F8FB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 1.3rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

@media screen and (min-width: 980px) {
  .header {
    margin: auto;
    padding: 10px 40px;
    max-width: 2000px;
  }
}

.navbar__list__item {
  padding: 20px;
}

@media (min-width: 600px) {
  .navbar__list__item {
    margin: auto;
    padding: 10px;
  }
}

.navbar .hamburger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  top: 15px;
  right: 30px;
  width: 1.6rem;
  height: 1.6rem;
  z-index: 2;
}

.navbar .hamburger-menu [class^="line"] {
  height: 3px;
  background-color: #0a0d14;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}

@media (min-width: 600px) {
  .navbar .hamburger-menu {
    display: none;
  }
}

.change {
  position: grid;
  right: 0;
}

/*===============================================================================
    Table of contents

    1.base footer styling
    2.column styling
    3.contact page styling

===============================================================================*/
.site-footer {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  background-color: #0a0d14;
  color: #fcfcfc;
  border-top: 2px solid #0a0d14;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.site-footer a {
  color: #fcfcfc;
  line-height: 24px;
}

.site-footer a:hover {
  color: #FFA351;
}

.site-footer p {
  text-align: center;
  margin: auto;
  padding: 20px 30px 10px 30px;
}

.footer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto 10%;
  padding: 10px 20px;
  gap: 10px;
}

.footer-main div {
  margin: 20px 0px 0px 40px;
}

@media (min-width: 600px) {
  .footer-main div {
    margin-right: 0px;
  }
}

.footer-main div h2 {
  color: #FFA351;
  font-weight: 600;
  line-height: 29px;
  font-size: 18px;
  letter-spacing: 1px;
}

@media (min-width: 600px) {
  .footer-main {
    padding: 0px 40px 10px 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: calc(1em * 1.2 * 1.2);
  }
}

@media screen and (min-width: 2000px) {
  .footer-main {
    max-width: 2000px;
    margin: auto;
    gap: 25rem;
  }
}

@media (min-width: 1200px) and (min-height: 1500px) {
  .footer-contact {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}

/*===============================================================================
    Table of contents

    1.page wrapper
    2.form styling 
	3.section padding
    
===============================================================================*/
.access, .about {
  margin: auto 7%;
  padding-top: 50px;
}

@media (min-width: 600px) {
  .access, .about {
    margin: auto 10%;
    padding-top: 50px;
  }
}

@media screen and (min-width: 2000px) {
  .access, .about {
    max-width: 1900px;
    margin: 100px auto;
  }
}

form input, form textarea {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  height: 80px;
  border-bottom: 2px solid #0a0d14;
  margin-top: 10px;
}

form input:focus, form textarea:focus {
  background: white;
  border-bottom: 3px solid #FFA351;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

form input::-webkit-input-placeholder, form textarea::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
}

form input:-ms-input-placeholder, form textarea:-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
}

form input::-ms-input-placeholder, form textarea::-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
}

form input::placeholder, form textarea::placeholder {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
}

@media (min-width: 600px) {
  form input, form textarea {
    border-radius: 12px;
    border: 1px solid #0a0d14;
  }
}

#home {
  padding-top: 20%;
  padding-bottom: 40%;
}

@media (min-width: 600px) {
  #home {
    padding-bottom: 20em;
  }
}

@media screen and (min-width: 980px) {
  #home {
    padding-top: 10em;
    padding-bottom: 40em;
  }
}

@media screen and (min-width: 2000px) {
  #home {
    padding-top: 20em;
    padding-bottom: 50em;
  }
}

/*===============================================================================
    Table of contents

    1.base styling
    2.table styling
    
===============================================================================*/
.access p {
  padding: 40px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

table th {
  background-color: #FFA351;
}

table td, table th {
  border: 1px solid #0a0d14;
  padding: 8px;
}

/*===============================================================================
    Table of contents

    1.page layout
    2.subheading
    3.form
    4.two-column contact links
    
===============================================================================*/
.contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto 7%;
}

.contact aside {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (min-width: 600px) {
  .contact {
    margin: auto 10%;
    gap: 100px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media screen and (min-width: 2000px) {
  .contact {
    max-width: 1800px;
    margin: 100px auto;
  }
}

@media (min-width: 1200px) and (min-height: 1500px) {
  .contact {
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
  }
}

.subheading {
  font-size: clamp(1rem, 2.3vw, 3rem);
  font-weight: 500;
  width: 65%;
  max-width: 550px;
}

@media screen and (min-width: 980px) {
  .subheading {
    margin-top: 10%;
  }
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form label {
  margin: 20px 0px 0px 0px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
  padding-top: 7rem;
}

.contacts h3 {
  font-weight: 400;
  text-decoration: underline;
}

.contacts li {
  line-height: 2rem;
  font-size: 1rem;
}

@media (min-width: 600px) {
  .contacts {
    gap: 0rem;
    padding-top: 10rem;
    padding-bottom: 5rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(17rem, 1fr))[2];
        grid-template-columns: repeat(2, minmax(17rem, 1fr));
  }
}

/*===============================================================================
    Table of contents

    1.page wrapper
    2.intro text
    3.intro subheadings 
    4.button layout of links
    5.sections titles
    6.skills section
    7.favorites section

===============================================================================*/
.about {
  margin-bottom: 100px;
}

.about-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1000px;
  margin-top: 2rem;
}

.about-intro p {
  margin-bottom: 5px;
  line-height: 1.25rem;
}

@media (min-width: 600px) {
  .about-intro p {
    line-height: 1.4rem;
  }
}

@media screen and (min-width: 980px) {
  .about-intro p {
    line-height: 2rem;
  }
}

.about-intro p:nth-child(1) {
  margin: 20px 0;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -.5px;
  line-height: 1.4rem;
}

@media (min-width: 600px) {
  .about-intro p:nth-child(1) {
    line-height: 2.2rem;
  }
}

@media screen and (min-width: 980px) {
  .about-intro p:nth-child(1) {
    font-size: 20px;
  }
}

.about-title {
  padding-top: 80px;
  text-align: center;
}

@media (min-width: 600px) {
  .about-title {
    padding-top: 80px;
    text-align: left;
  }
}

@media screen and (min-width: 980px) {
  .about-title {
    text-align: left;
    border-bottom: none;
    padding-top: 100px;
    line-height: 4.2rem;
    padding-top: 0;
    font-size: 4.2rem;
    min-width: 20rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 1;
            flex: 1 1;
  }
}

@media screen and (min-width: 2000px) {
  .about-title {
    line-height: 7.2rem;
    font-size: 7.2rem;
    max-width: 30rem;
    margin-right: 3em;
  }
}

.about-links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25em, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
  gap: 2em;
  padding: 5em 0;
}

.about-links a {
  font-size: 18px;
}

.about-links article {
  border-radius: 18px;
  width: 90%;
  height: 400px;
  margin: auto;
  text-align: center;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-links article:first-child {
  background-color: #d1e9ff;
}

.about-links article:nth-child(2) {
  background-color: #cfd6e7;
}

.about-links article:last-child {
  background-color: #ffd9b7;
}

.about-links article header {
  padding-bottom: 10px;
}

.about-links article p {
  width: 80%;
}

.about-links article footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding: 1em 0;
}

@media screen and (min-width: 980px) {
  .about-links {
    padding-top: 10em;
  }
}

.list-title {
  font-weight: 600;
  font-size: 20px;
  padding-top: 20px;
}

.about-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 980px) {
  .about-skills {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 12rem;
  }
}

.about-skills ul {
  margin-bottom: 30px;
}

@media screen and (min-width: 980px) {
  .about-skills ul:last-of-type {
    margin-left: 2vw;
  }
}

.about-skills li {
  font-size: 18px;
  padding: 2px 0;
}

.about-skills li a {
  text-decoration: underline;
  -webkit-text-decoration-color: #8b9cc5;
          text-decoration-color: #8b9cc5;
  font-weight: 600;
  color: #008080;
}

.about-skills li a:hover {
  -webkit-text-decoration-color: #FFA351;
          text-decoration-color: #FFA351;
  color: #0a0d14;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

@media screen and (min-width: 980px) {
  .about-skills li {
    margin-top: 2rem;
  }
  .about-skills li:first-of-type {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 980px) {
  .about-skills div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-preferred-size: 900px;
        flex-basis: 900px;
  }
}

.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 980px) {
  .about-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 12rem 0;
  }
}

.about-list li {
  font-size: 18px;
}

.about-list li::before {
  content: " ";
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  background-color: #F7F8FB;
  margin: auto 0;
  margin-right: 20px;
}

.about-list li a {
  -webkit-text-decoration-color: #8b9cc5;
          text-decoration-color: #8b9cc5;
  color: #0a0d14;
  text-decoration: underline;
}

.about-list li a:hover {
  -webkit-text-decoration-color: #FFA351;
          text-decoration-color: #FFA351;
  color: #FFA351;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

@media screen and (min-width: 980px) {
  .about-list li {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 980px) {
  .about-list div {
    -ms-flex-preferred-size: 900px;
        flex-basis: 900px;
  }
  .about-list div li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;
  }
  .about-list div .list-title {
    width: 300px;
    padding-top: 0px;
  }
}

/*===============================================================================
    Table of contents

    1.page wrapper
    2.project sections
    3.portfolio navigation
    4.section heading / left column
    5.section title
    6.projects
    7.project text
    8.project links
    9.tools utilised in projects list
    
===============================================================================*/
.portfolio {
  margin: auto;
  padding: 100px 10%;
  background-color: #F7F8FB;
}

@media screen and (min-width: 980px) {
  .portfolio .wrap {
    margin: auto;
    padding: 10px 40px;
    max-width: 2000px;
  }
}

.portfolio-content {
  border-top: 2px solid #0a0d14;
  padding: 20px 0px 30px 0px;
}

@media screen and (min-width: 980px) {
  .portfolio-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
}

.portfolio-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio-nav ul {
  margin: 30px 0px 20px 0px;
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

@media screen and (min-width: 980px) {
  .portfolio-nav ul {
    gap: 30px;
    font-size: clamp(1rem, 1.3vw, 1.2rem);
  }
}

.portfolio-nav ul li {
  border-bottom: 1px solid #0a0d14;
}

.portfolio-nav P {
  margin-top: 10px;
  max-width: 300px;
}

@media (min-width: 600px) {
  .portfolio-nav P {
    margin-top: 50px;
  }
}

@media screen and (min-width: 2000px) {
  .portfolio-nav P {
    max-width: 500px;
  }
}

@media screen and (min-width: 980px) {
  .portfolio-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 40px 20px 0px 20px;
  }
  .portfolio-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .portfolio-nav p {
    margin-bottom: 30px;
  }
}

.portfolio-content-index div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 980px) {
  .portfolio-content-index div {
    padding-right: 20px;
  }
}

.portfolio-content-index span {
  font-size: 16px;
}

@media screen and (min-width: 980px) {
  .portfolio-content-index {
    border-right: 2px #0a0d14 solid;
  }
}

.portfolio-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio-index h3 {
  width: 100px;
  line-height: 1.1em;
  padding: 40px 0px 10px 10px;
}

.portfolio-index p {
  padding-bottom: 50px;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -10%;
  padding: 0px 0px 40px 5%;
  overflow: auto;
  min-width: 100%;
}

.wrapper li {
  padding-right: 3%;
}

.wrapper > .project {
  margin: 10px;
  padding: 10px;
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
}

@media screen and (min-width: 980px) {
  .wrapper > .project {
    padding: 0;
  }
  .wrapper > .project:nth-child(1n+3) {
    margin-top: 10%;
  }
}

@media screen and (min-width: 980px) {
  .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: center;
    overflow: hidden;
    gap: 0px;
    margin: 5px;
    padding: 5px;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
}

.project p {
  width: 80%;
}

.links a:not(:last-of-type) {
  margin-right: 20px;
}

.links a i {
  margin-right: 5px;
}

@media (min-width: 600px) {
  .links a {
    font-size: 1vmin;
  }
}

.portfolio__index-hide {
  color: #008080;
  font-weight: 700;
}

@media screen and (min-width: 980px) {
  .portfolio__index-hide {
    display: none;
  }
}

.project-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4px;
  width: 98%;
  margin-bottom: 20px;
  margin-top: -5px;
}

/*===============================================================================
    Table of contents

    1.page wrapper
    2.articles grid layout
    3.article styling
    4.icon
    
===============================================================================*/
.main-blog {
  margin: auto 7%;
  padding: 50px 0px 100px 0px;
}

@media (min-width: 600px) {
  .main-blog {
    margin: auto 10%;
  }
  .main-blog h3 {
    padding-top: 50px;
  }
}

@media screen and (min-width: 2000px) {
  .main-blog {
    max-width: 1900px;
    margin: 50px auto;
  }
}

.blog {
  gap: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  margin-top: 5rem;
}

@media screen and (min-width: 2000px) {
  .blog {
    -ms-grid-columns: (minmax(20rem, 1fr))[4];
        grid-template-columns: repeat(4, minmax(20rem, 1fr));
  }
}

[class^="grid"] {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid #0a0d14;
  border-radius: 18px;
  height: 400px;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

[class^="grid"]:hover {
  margin-top: -10px;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

[class^="grid"] h5 {
  font-size: 18px;
}

@media (min-width: 600px) {
  [class^="grid"] h4 {
    font-size: 28px;
  }
}

[class^="grid"] footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  margin-top: 20px;
}

[class^="grid"]:last-child {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

[class^="grid"]:last-child p {
  font-size: 30px;
}

.fa-solid {
  text-decoration: none;
  margin: auto 0;
  font-size: 18px;
}

/*===============================================================================
    Table of contents

    1.page wrapper
    2.main text 
    3.sub text 
    
===============================================================================*/
#home {
  position: relative;
  overflow: hidden;
  margin: auto 7%;
}

@media (min-width: 600px) {
  #home {
    margin: auto 10%;
    overflow: visible;
  }
}

@media screen and (min-width: 2000px) {
  #home {
    margin: auto;
    max-width: 1800px;
  }
}

.home-primary {
  font-family: "Bitter", serif;
  font-size: 2.1rem;
  line-height: 2.5rem;
  margin-bottom: 40px;
}

@media screen and (min-width: 980px) {
  .home-primary {
    max-width: 800px;
    font-size: 2.4rem;
  }
}

.home-secondary {
  font-size: calc(1em * 1.2);
  border-bottom: 1px solid #0a0d14;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-bottom: 8px;
}

.home-secondary span {
  z-index: -1;
  position: relative;
  -webkit-animation: learn-more 0.98s ease infinite alternate;
          animation: learn-more 0.98s ease infinite alternate;
}

@media (min-width: 600px) {
  .home-secondary span {
    -webkit-animation: none;
            animation: none;
  }
}

@media (min-width: 528px) {
  .home-secondary {
    font-size: calc(1em * 1.2 * 1.2);
  }
}

@media screen and (min-width: 980px) {
  .home-secondary {
    font-size: calc(1em * 1.2 * 1.2 * 1.2);
  }
}
/*# sourceMappingURL=main.css.map */