/* Font stack */
/* Text used this as reference - https://medium.com/codyhouse/create-your-design-system-part-1-typography-7c630d9092bd */
/* spacing values */
/* Colours */
/* Media Quires*/
button {
  margin: 20px 0px;
  padding: 15px 30px;
  border: 0;
  border-radius: 12px;
  color: #fcfcfc;
  text-transform: uppercase;
  font-size: calc(1em / 1.2 / 1.2 / 1.2);
  margin-bottom: 20px;
}

button:hover {
  opacity: .75;
}

button:active {
  opacity: initial;
}

@media (min-width: 780px) {
  button {
    width: 100%;
  }
}

@media (min-width: 780px) {
  button {
    width: auto;
    display: inline-block;
  }
}

* {
  list-style-type: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  min-height: calc(100vh - 89px);
  margin: auto 7%;
}

@-webkit-keyframes learn-more {
  0% {
    top: 0px;
  }
  0% {
    top: -5px;
  }
  100% {
    top: 2px;
  }
}

@keyframes learn-more {
  0% {
    top: 0px;
  }
  0% {
    top: -5px;
  }
  100% {
    top: 2px;
  }
}

body {
  font-size: calc(1em / 1.2);
  font-family: "Open Sans", sans-serif;
  color: #0a0d14;
  line-height: 1.4;
}

h2,
h3,
h4,
form legend {
  font-size: calc(1em * 1.2 * 1.2);
  color: #0a0d14;
  margin-bottom: calc($baseline*2);
  line-height: 1.4;
  letter-spacing: 1px;
}

h1 {
  font-size: calc(1em * 1.2 * 1.2);
  margin-bottom: 12px;
  font-size: 2.4rem;
  font-family: "Bitter", serif;
}

h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

i {
  text-decoration: underline;
}

#home p {
  margin-bottom: 40px;
  line-height: 30px;
  font-size: calc(1em * 1.2);
}

#home p:nth-child(2) {
  font-family: "Bitter", serif;
  font-size: calc(1em * 1.2 * 1.2);
}

#home p:nth-child(3) {
  border-bottom: 1px solid black;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

#home p:nth-child(3) span {
  position: relative;
  -webkit-animation: learn-more 0.98s ease infinite alternate;
          animation: learn-more 0.98s ease infinite alternate;
}

.navbar {
  width: 100vw;
  height: 100vh;
  background-color: #fff9ce;
  position: fixed;
  right: -100vw;
  top: 0;
  display: -ms-grid;
  display: grid;
  -webkit-transition: right 0.8s cubic-bezier(0.1, 0, 0.1, 0.2);
  transition: right 0.8s cubic-bezier(0.1, 0, 0.1, 0.2);
  overflow: hidden;
  z-index: 2;
}

@media (min-width: 780px) {
  .navbar {
    background-color: #009d9d;
    width: auto;
    height: auto;
    right: auto;
    position: relative;
  }
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: 30% 5px auto 10%;
  border-top: 1px grey solid;
}

@media (min-width: 780px) {
  .navbar__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    width: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    border: 0;
  }
}

.navbar__list a {
  text-decoration: none;
  font-size: 4vw;
  color: black;
  letter-spacing: 5px;
}

@media (min-width: 780px) {
  .navbar__list a {
    font-size: 22px;
    margin-left: 1.05vw;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
  }
}

.navbar__logo {
  font-size: calc(1em * 1.2 * 1.2 * 1.2);
  z-index: 5;
  color: #0a0d14;
  margin-top: 5px;
}

@media (min-width: 780px) {
  .navbar__logo {
    color: black;
    font-size: 43px;
    font-weight: 500;
    letter-spacing: -0.03em;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 1.3rem;
  border-bottom: 1px solid #b7b5ae;
}

@media (min-width: 780px) {
  header {
    top: 0;
    margin: 0;
    padding: 20px 40px 40px 40px;
    background-color: #009d9d;
  }
}

.navbar__list__item {
  padding: 20px;
  border-bottom: 1px grey solid;
}

@media (min-width: 780px) {
  .navbar__list__item {
    margin: auto;
    padding: 10px;
    border-bottom: 0;
  }
}

.navbar__list__item:hover {
  border-bottom: 5px #d51414 solid;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.navbar .hamburger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 1.6rem;
  height: 1.6rem;
  top: 15px;
  right: 30px;
  position: fixed;
  z-index: 2;
}

@media (min-width: 780px) {
  .navbar .hamburger-menu {
    display: none;
  }
}

.navbar .hamburger-menu [class^="line"] {
  height: 3px;
  background-color: black;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}

.change {
  right: 0;
  display: -ms-grid;
  display: grid;
}

.change .line-1 {
  -webkit-transform: rotateZ(-405deg) translate(-6px, 6px);
          transform: rotateZ(-405deg) translate(-6px, 6px);
}

.change .line-2 {
  opacity: 0;
}

.change .line-3 {
  -webkit-transform: rotateZ(405deg) translate(-6px, -6px);
          transform: rotateZ(405deg) translate(-6px, -6px);
}

.navbar_copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: auto 0px auto 10%;
  font-size: 3.2vw;
  color: grey;
}

@media (min-width: 780px) {
  .navbar_copyright {
    display: none;
  }
}

footer {
  min-height: 89px;
  background-color: #5d49ab;
  color: #fcfcfc;
}

#home {
  padding-top: 2em;
  padding-bottom: 4em;
}

@media (min-width: 780px) {
  #home {
    padding-top: 80px;
    padding-bottom: 34px;
  }
}

#home {
  padding-top: 80px;
}

@media (min-width: 780px) {
  * {
    background-color: blue;
  }
}
/*# sourceMappingURL=main.css.map */