/* Font stack */
/* Text used this as reference - https://medium.com/codyhouse/create-your-design-system-part-1-typography-7c630d9092bd */
/* spacing values */
/* Colours */
/* Media Quires*/
* {
  list-style-type: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

main {
  min-height: calc(100vh - 89px);
}

@-webkit-keyframes learn-more {
  0% {
    top: 0px;
  }
  0% {
    top: -5px;
  }
  100% {
    top: 2px;
  }
}

@keyframes learn-more {
  0% {
    top: 0px;
  }
  0% {
    top: -5px;
  }
  100% {
    top: 2px;
  }
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes floating {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

body {
  font-size: calc(1em / 1.2);
  font-family: "Open Sans", sans-serif;
  color: #0a0d14;
  line-height: 1.4;
}

h1 {
  font-size: 12vw;
  line-height: 1.7em;
  font-family: "Bitter", serif;
}

@media (min-width: 600px) {
  h1 {
    font-size: 5.2rem;
    line-height: 1.2;
  }
}

@media screen and (min-width: 980px) {
  h1 {
    font-size: 8rem;
  }
}

h2 {
  font-weight: 400;
  padding: 5px 0;
  font-size: 4.2rem;
  line-height: 5rem;
}

@media (min-width: 600px) {
  h2 {
    font-size: 5.0rem;
  }
}

@media screen and (min-width: 980px) {
  h2 {
    font-size: 6.4rem;
  }
}

h3,
form legend {
  font-size: calc(1em * 1.2 * 1.2);
  color: #0a0d14;
  line-height: 1.4;
  letter-spacing: 1px;
  font-size: calc(1em * 1.2 * 1.2 * 1.2 * 1.2);
}

.subheading {
  font-weight: 500;
}

h4 {
  font-size: calc(1em * 1.2 * 1.2);
  font-weight: 600;
  letter-spacing: 0.6px;
}

i {
  text-decoration: underline;
}

p {
  line-height: 1.6rem;
  font-size: 16px;
}

.marquee {
  overflow: hidden;
  width: 50%;
  position: relative;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
}

.marquee__inner {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate3d(var(--move-initial), 0, 0);
          transform: translate3d(var(--move-initial), 0, 0);
  -webkit-animation: marquee 7s linear infinite;
          animation: marquee 7s linear infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.marquee span {
  font-size: 12vw;
  padding: 0 2vw;
  letter-spacing: -0.5px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media (min-width: 600px) {
  .marquee span {
    font-size: 5.0rem;
  }
}

@media screen and (min-width: 980px) {
  .marquee span {
    font-size: 6.4rem;
  }
}

a {
  color: #0a0d14;
}

a:hover {
  color: #50b978;
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translate3d(var(--move-initial), 0, 0);
            transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
    -webkit-transform: translate3d(var(--move-final), 0, 0);
            transform: translate3d(var(--move-final), 0, 0);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translate3d(var(--move-initial), 0, 0);
            transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
    -webkit-transform: translate3d(var(--move-final), 0, 0);
            transform: translate3d(var(--move-final), 0, 0);
  }
}

.btn--linkedin:hover {
  background-color: #0b9eff;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.btn--instagram:hover {
  background-color: red;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.btn--spotify:hover {
  background-color: lime;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.btn--github:hover {
  background-color: #33d533;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.btn--codepen:hover {
  background-color: lightblue;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.btn--dribble:hover {
  background-color: pink;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.btn--email:hover {
  background-color: orange;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.btn--location:hover {
  background-color: yellow;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

[class^="btn--"] {
  padding: 10px;
  border: 2px black solid;
  border-radius: 10px;
}

[class^="img--"] {
  display: none;
}

@media screen and (min-width: 980px) {
  [class^="img--"] {
    position: absolute;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    z-index: -1;
    -webkit-animation-name: floating;
            animation-name: floating;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  [class^="img--"]:nth-of-type(1) {
    left: calc(30% + 25%);
    top: 15%;
    -webkit-animation-delay: -1333ms;
            animation-delay: -1333ms;
  }
  [class^="img--"]:nth-of-type(1)::after {
    position: absolute;
    content: " ";
    border-radius: 50%;
    border: 1px solid #e1e1e1;
    width: 40rem;
    height: 40rem;
  }
  [class^="img--"]:nth-of-type(2) {
    left: calc(60% + 25%);
    top: 60%;
  }
  [class^="img--"]:nth-of-type(2)::after {
    position: absolute;
    content: " ";
    border-radius: 50%;
    border: 1px solid #e1e1e1;
    width: 30rem;
    height: 30rem;
  }
  [class^="img--"]:nth-of-type(3) {
    left: calc(0% + 10%);
    top: 70%;
    -webkit-animation-delay: -2000ms;
            animation-delay: -2000ms;
  }
  [class^="img--"]:nth-of-type(3)::after {
    position: absolute;
    content: " ";
    border-radius: 50%;
    border: 1px solid #e1e1e1;
    width: 20rem;
    height: 20rem;
  }
  [class^="img--"]:hover {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    padding: 40px;
  }
  .img--linkedin {
    background-color: #d7efff;
  }
  .img--linkedin:hover {
    background-color: #bee5ff;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
  .img--instagram {
    background-color: #ffcccc;
  }
  .img--instagram:hover {
    background-color: #ffb3b3;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
  .img--spotify {
    background-color: #ccffcc;
  }
  .img--spotify:hover {
    background-color: #b3ffb3;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
  .img--github {
    background-color: #dcf8dc;
  }
  .img--github:hover {
    background-color: #c7f3c7;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
  .img--codepen {
    background-color: white;
  }
  .img--codepen:hover {
    background-color: white;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
  .img--dribble {
    background-color: white;
  }
  .img--dribble:hover {
    background-color: white;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
  .img--email {
    background-color: #ffedcc;
  }
  .img--email:hover {
    background-color: #ffe4b3;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
  .img--location {
    background-color: #ffffcc;
  }
  .img--location:hover {
    background-color: #ffffb3;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
}

.navbar {
  width: 100vw;
  height: 100vh;
  background-color: #ffebd9;
  position: fixed;
  right: -100vw;
  top: 0;
  display: -ms-grid;
  display: grid;
  -webkit-transition: right 0.8s cubic-bezier(0.1, 0, 0.1, 0.2);
  transition: right 0.8s cubic-bezier(0.1, 0, 0.1, 0.2);
  z-index: 2;
}

@media (min-width: 600px) {
  .navbar {
    background-color: #fcfcfc;
    width: auto;
    height: auto;
    right: auto;
    position: relative;
    -webkit-transition: none;
    transition: none;
  }
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: 150px 5px auto 10%;
  border-top: 1px grey solid;
}

@media (min-width: 600px) {
  .navbar__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    width: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    border: 0;
  }
}

.navbar__list a {
  text-decoration: none;
  font-size: 4vw;
  color: black;
  letter-spacing: 5px;
}

.navbar__list a:hover {
  color: #50b978;
}

@media (min-width: 600px) {
  .navbar__list a {
    font-size: calc(1em / 1.2);
    margin-left: 1.05vw;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
  }
}

@media screen and (min-width: 980px) {
  .navbar__list a {
    font-size: calc(1em * 1.2 * 1.2);
  }
}

@media screen and (min-width: 1500px) {
  .navbar__list a {
    font-size: calc(1em * 1.2 * 1.2 * 1.2);
  }
}

.navbar__logo {
  font-size: calc(1em * 1.2 * 1.2 * 1.2);
  z-index: 5;
  color: #0a0d14;
  margin-top: 5px;
}

@media (min-width: 600px) {
  .navbar__logo {
    font-weight: 500;
    letter-spacing: -0.03em;
  }
}

@media screen and (min-width: 980px) {
  .navbar__logo {
    font-size: calc(1em * 1.2 * 1.2 * 1.2 * 1.2);
  }
}

@media screen and (min-width: 1500px) {
  .navbar__logo {
    font-size: calc(1em * 1.2 * 1.2 * 1.2 * 1.2 * 1.2);
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 1.3rem;
  border-bottom: 1px solid #F7F8FB;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgba(252, 252, 252, 0.95);
  z-index: 9;
}

@media screen and (min-width: 980px) {
  .header {
    top: 0;
    margin: auto;
    padding: 10px 40px 10px 40px;
    max-width: 2000px;
  }
}

.navbar__list__item {
  padding: 20px;
  border-bottom: 1px grey solid;
}

@media (min-width: 528px) {
  .navbar__list__item {
    margin: auto;
    padding: 10px;
    border-bottom: 0;
  }
}

.navbar .hamburger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 1.6rem;
  height: 1.6rem;
  top: 15px;
  right: 30px;
  position: fixed;
  z-index: 2;
}

@media (min-width: 528px) {
  .navbar .hamburger-menu {
    display: none;
  }
}

.navbar .hamburger-menu [class^="line"] {
  height: 3px;
  background-color: black;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}

.change {
  right: 0;
  display: -ms-grid;
  display: grid;
}

.change .line-1 {
  -webkit-transform: rotateZ(-405deg) translate(-6px, 6px);
          transform: rotateZ(-405deg) translate(-6px, 6px);
}

.change .line-2 {
  opacity: 0;
}

.change .line-3 {
  -webkit-transform: rotateZ(405deg) translate(-6px, -6px);
          transform: rotateZ(405deg) translate(-6px, -6px);
}

.navbar_copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 0px 0px 90px 10%;
  color: grey;
}

@media (min-width: 528px) {
  .navbar_copyright {
    display: none;
  }
}

footer {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  background-color: #0a0d14;
  color: #fcfcfc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 2px solid black;
  padding-top: 30px;
}

footer a {
  color: #fcfcfc;
  line-height: 24px;
}

footer a:hover {
  color: #50b978;
}

footer p {
  text-align: center;
  margin: auto;
  padding: 20px 30px 10px 30px;
}

.footer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  padding: 10px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto 10%;
}

.footer-main div {
  margin-right: 40px;
  margin-top: 20px;
}

@media (min-width: 600px) {
  .footer-main div {
    margin-right: 0px;
  }
}

.footer-main div h6 {
  color: peachpuff;
  font-weight: 600;
  line-height: 29px;
  font-size: 18px;
  letter-spacing: 1px;
}

@media (min-width: 600px) {
  .footer-main {
    padding: 0 40px 10px 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#home {
  padding-top: 5rem;
  padding-bottom: 9rem;
}

@media (min-width: 600px) {
  #home {
    padding-top: 10em;
    height: 100vh;
  }
}

form input, form textarea {
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  background-color: whitesmoke;
}

form input:focus, form textarea:focus {
  background: #e2f3e8;
  border-bottom: 3px solid #50b978;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.contact {
  margin: auto 7%;
}

@media (min-width: 600px) {
  .contact {
    margin: auto 10%;
  }
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 600px;
}

form label {
  margin-top: 20px;
  margin-bottom: 10px;
}

form label:nth-child(n+2) {
  margin-top: 30px;
}

form [type="submit"] {
  border: none;
  outline: none;
  background-color: white;
  margin-top: 20px;
  padding: 10px;
  max-width: 200px;
  border: 2px solid black;
}

form input {
  height: 40px;
}

@media screen and (min-width: 980px) {
  form input {
    height: 80px;
  }
}

form textarea {
  height: 100px;
}

@media screen and (min-width: 980px) {
  form textarea {
    height: 200px;
  }
}

@media (min-width: 600px) {
  form {
    max-width: 65%;
    margin: auto;
  }
}

@media screen and (min-width: 1500px) {
  form {
    max-width: 50%;
  }
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 150px 0;
  padding: 25px 0;
  gap: 20px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

@media (min-width: 528px) {
  .social__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.about {
  margin: auto 7%;
}

@media (min-width: 600px) {
  .about {
    margin: auto 10%;
  }
}

.portfolio {
  margin: auto;
  padding: 100px 10%;
  background-color: #F7F8FB;
}

.portfolio-content {
  border-top: 2px solid black;
  padding-top: 20px;
  padding-bottom: 30px;
}

@media screen and (min-width: 980px) {
  .portfolio-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
}

.portfolio-nav ul {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding: 10px 0;
  margin-bottom: 20px;
}

.portfolio-nav ul li {
  border-bottom: 1px solid black;
}

.portfolio-content-index div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 980px) {
  .portfolio-content-index div {
    padding-right: 20px;
  }
}

@media screen and (min-width: 980px) {
  .portfolio-content-index {
    border-right: 2px black solid;
  }
}

.portfolio-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio-index h3 {
  width: 100px;
  line-height: 1.1em;
  padding: 40px 0px 10px 0;
}

.portfolio-index p {
  padding-bottom: 50px;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  min-width: 100%;
  margin-right: -10%;
  padding-left: 5%;
  padding-bottom: 40px;
}

.wrapper li {
  padding-right: 3%;
}

.wrapper > .book {
  padding: 20px;
  margin: 20px;
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (min-width: 980px) {
  .wrapper > .book {
    border-radius: 12px;
    -webkit-box-shadow: 5px 5px 13px #d6d6d6, -5px -5px 13px #ffffff;
            box-shadow: 5px 5px 13px #d6d6d6, -5px -5px 13px #ffffff;
  }
}

@media screen and (min-width: 980px) {
  .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin-right: 0;
    padding-left: 0;
    justify-items: center;
  }
}

.book img {
  max-width: 60vw;
  height: auto;
  padding-bottom: 10px;
}

@media (min-width: 528px) {
  .book img {
    max-width: 46vw;
  }
}

@media (min-width: 600px) {
  .book img {
    max-width: 44vw;
  }
}

@media screen and (min-width: 980px) {
  .book img {
    max-width: 21vw;
  }
}

.links :nth-child(1) {
  margin-right: 30px;
}

.main-blog {
  margin: auto 7%;
}

@media (min-width: 600px) {
  .main-blog {
    margin: auto 10%;
  }
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0;
  gap: 20px;
}

@media (min-width: 528px) {
  .blog {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 980px) {
  .blog {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    max-width: 130em;
    gap: 40px;
    padding: 50px 0;
  }
}

[class^="grid"] {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid black;
}

[class^="grid"]:hover {
  border-radius: 16px;
  background-color: #50b978;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

[class^="grid"] div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

@media screen and (min-width: 980px) {
  [class^="grid"] {
    max-width: 500px;
    height: 300px;
  }
}

#home {
  margin: auto 7%;
}

@media (min-width: 600px) {
  #home {
    margin: auto 10%;
  }
}

@media screen and (min-width: 1500px) {
  #home {
    margin: auto 30%;
  }
}

.wrap {
  background-color: plum;
  z-index: 2;
}

.home-primary {
  font-family: "Bitter", serif;
  font-size: 2.1rem;
  line-height: 2.5rem;
  margin-bottom: 40px;
}

@media screen and (min-width: 980px) {
  .home-primary {
    min-width: 450px;
    max-width: 800px;
    font-size: 2.4rem;
  }
}

.home-secondary {
  font-size: calc(1em * 1.2);
  border-bottom: 1px solid black;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-bottom: 8px;
}

.home-secondary span {
  z-index: -1;
  position: relative;
  -webkit-animation: learn-more 0.98s ease infinite alternate;
          animation: learn-more 0.98s ease infinite alternate;
}

@media (min-width: 600px) {
  .home-secondary span {
    -webkit-animation: none;
            animation: none;
  }
}

@media (min-width: 528px) {
  .home-secondary {
    font-size: calc(1em * 1.2 * 1.2);
  }
}

@media screen and (min-width: 980px) {
  .home-secondary {
    font-size: calc(1em * 1.2 * 1.2 * 1.2);
  }
}
/*# sourceMappingURL=main.css.map */