/*===============================================================================
    Table of contents

    1.Media quires
    2.Social media background for floating icons on landing page

===============================================================================*/

// 1.Media quires
$breakpoints:(
'xsmall':476px,
'small':528px,
'medium':600px,
'regular':782px,
'large':980px,
'xtra-large':2000px,
);


// 2.Social media background for floating icons on landing page
$socials: (
    linkedin:rgb(11, 158, 255),
    github:rgb(51, 213, 51),
    email:orange,
);




