@keyframes learn-more {
    0%   {top: 0px; }
    0%   {top: -5px; }
    100% {top: 2px; }
  }

  @keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}