// -----------------------------------------------------------------------------//
// This file contains all the animations used within the portfolio               //
// -----------------------------------------------------------------------------//
@keyframes learn-more {
    0%   {top: 0px; }
    0%   {top: -5px; }
    100% {top: 2px; }
  }



  @keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}


//hamburger menu
.change {
    @include position(grid, $right:0);
 
    .line {
      &-1 {
        transform: rotateZ(-405deg) translate(-6px, 6px);
      }
 
      &-2 {
        opacity: 0;
      }
 
      &-3 {
        transform: rotateZ(405deg) translate(-6px, -6px);
      }
    }
  }
 



  @keyframes marquee {
    0% {
        transform: translate(5%, 0);
    }    
    50% {
        transform: translate(-100%, 0);
    }
    50.001% {
        transform: translate(100%, 0);
    }
    100% {
        transform: translate(0%, 0);
    }
}
 
