/*===============================================================================
    Table of contents

    1.Universal styling
    2.HTML styling
    3.Main styling
    4.A/link styling

===============================================================================*/

//1.Universal styling
* {
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//2.HTML styling
html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

//3.Main styling
main {
    min-height: calc(100vh - 89px);
}


//4.A/link styling
a{
    i{
        text-decoration: none;
    }
}





  