//===============================================================================
// This file contains all the base typography stylings used within the portfolio
//===============================================================================

body {
    font-size: $text-s;
    font-family: $font-primary;
    color: $primary-colour;
    line-height: $body-line-height;
}


h2,
h3,
h4,
form legend {
    font-size: $text-md;
    color: $primary-colour;
    margin-bottom: $space-lg;
    line-height: $body-line-height;
    letter-spacing: 1px;
}

h1 {
    font-size: $text-md;
    margin-bottom: 12px;
    font-size: 2.4rem;
    font-family: $font-secondary;

}

h2 {
    @include flex-layout($direction:row-reverse, $just:flex-end);
}

i {
    text-decoration: underline;
}

#home {

    p {
        margin-bottom: 40px;
        line-height: 30px;
        font-size: $text-reg;
        &:nth-child(2) {
            // font-size: 1.875rem;
            font-family: $font-secondary;
            font-size: $text-md;
        }
        &:nth-child(3) {
            // font-size: 1.875rem;
            border-bottom: 1px solid black;
            width: max-content;
            span{
                position: relative;
                animation:learn-more 0.98s ease infinite alternate;   
            }
        }
    }
}

