//===============================================================================
// This file contains all the base typography stylings used within the portfolio
//===============================================================================



body {
    font-size: $text-s;
    font-family: $font-primary;
    color: $primary-colour;
    line-height: $body-line-height;
}




h1 {
    font-size: 12vw;
    line-height: 1.7em;
    font-family: $font-secondary;

    @include media-quires('medium') {
        font-size: 5.2rem;
        line-height: $heading-line-height;
    }

    @include media-quires('large') {
        font-size: 7rem;
    }
}

h2 {
    font-weight: 400;
    padding: 5px 0;
    font-size: 4.2rem;
    line-height: 5rem;

    @include media-quires('medium') {
        font-size: 5.0rem;
    }

    @include media-quires('large') {
        font-size: 6.4rem;
    }
}

h3,
form legend {
    font-size: $text-md;
    color: $primary-colour;
    // margin-bottom: $space-lg;
    line-height: $body-line-height;
    letter-spacing: 1px;
    font-size: $text-xl;
}



h4 {
    font-size: $text-md;
    font-weight: 600;
    letter-spacing: 0.6px;
}

i {
    text-decoration: underline;
}

p {
    line-height: 1.6rem;
    font-size: 14px;

    @include media-quires(medium) {
        font-size: 16px;
    }
}

// create partial for this
.marquee {
    overflow: hidden;
    width: 50%;
    max-width: 50%;
    --offset: 0rem;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
    @include position(relative);
}

.marquee__inner {
    width: fit-content;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 7s linear infinite;
    animation-play-state: running;
    @include flex-layout;
}

.marquee span {
    font-size: 12vw;
    padding: 0 2vw;
    letter-spacing: -0.5px;
    width: max-content;

    @include media-quires('medium') {
        font-size: 5.0rem;
    }

    @include media-quires('large') {
        font-size: 6.4rem;
    }
}


a {
    color: $primary-colour;

    &:hover {
        color: $accent-colour;
    }
}



@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}



// contact page cv typography
.about-intro {
    max-width: 800px;

    p {
        margin-bottom: 5px;
        line-height: 1.25rem;

        @include media-quires(medium) {
            line-height: 1.4rem;
        }

        &:nth-child(1) {
            margin: 20px 0;
            font-weight: 600;
            font-size: 18px;
            letter-spacing: -.5px;
            line-height: 1.4rem;

            @include media-quires(medium) {
                line-height: 1.6rem;
            }
        }
    }
}




.about-cv {
    h1 {
        font-size: 4rem;
        margin-top: 30px;
        font-family: $font-primary;
        font-weight: 300;
        letter-spacing: 1px;
        text-align: center;
    }

    h3 {
        font-size: 1.2rem;
        font-weight: 500;
    }

    p {
        line-height: 1.3rem;
    }

    details {
        line-height: 1.2rem;
    }

    ul {
        padding-top: 5px;
        margin-left: 10px;
    }
    .about-hide{
        display: none;
        @include media-quires(large){
            z-index: 3;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            p{
                font-weight: 400;
                padding: 70px;
                border-radius:30% 70% 70% 30% / 30% 30% 70% 70% ;
                background-color: teal;

            }
       
        }
    }

}